- if not @sample_menus.nil?
	- @sample_menus.each do |m|

		%h4= "Name: #{m.name}"
		%h4= "Budget Per Person: #{m.budget_per_person}"
		%table.table.sample_menu
			%tr
				%th Item Name
			-if not m.items.empty?
				- m.items.each do |i|
					%tr
						%td= i.name

= button_to "Get Started", new_event_path, :method => :get
