%h1 All Recipes
= form_tag admin_items_path, :method => :get do
  Include: 
  - @all_categories.each do |category|
    = category
    = check_box_tag "category[#{category}]", 1, @checked_categories.include?(category), :id => category
  = submit_tag 'Refresh'
%table#items
  %thead
    %tr
      %th Title
      %th Price
      %th Category
      %th Type
      %th Description
      %th More Info
      %th 
      %th
  %tbody
    - @items.each do |item|
      %tr
        %td= item.name 
        %td= item.price
        %td= item.category
        %td= item.food_type
        %td= item.desc
        %td= link_to "Show", admin_item_path(item)
        %td= link_to "Edit", edit_admin_item_path(item)
        %td= button_to "Delete", admin_item_path(item), :method => :delete, :confirm => 'Are you sure?'

= link_to 'Add new item', new_admin_item_path