%h1 Add new item

= form_tag admin_items_path, :method => :post, :multipart => true do

	= label :item, :name, 'Name'
	= text_field :item, 'name'

	= label :item, :desc, 'Description'
	= text_field :item, 'desc'

	= label :item, :price, 'Price'
	= number_field :item, 'price', :step => 0.01

	= label :item, :category, 'Category'
	= select :item, :category, ['Breakfast', 'Lunch', 'Dinner']

	= label :item, :image, 'Image'
	= file_field :item, 'image'

	= submit_tag 'Create Item'
