%h2 Add new item

%div.col-sm-4.col-md-4.col-lg-4

	= form_tag admin_items_path, :method => :post, :multipart => true do

		.form-group
		= label :item, :name, 'Name'
		= text_field :item, 'name', :class => "form-control"

		.form-group
		= label :item, :desc, 'Description'
		= text_field :item, 'desc', :class => "form-control"

		.form-group
		= label :item, :price, 'Price'
		= number_field :item, 'price', :step => 0.01, :class => "form-control"

		.form-group
		-Category.names.each do |category|
			%div
				= check_box_tag "categories[#{category}]", 1, false
				= category

		.form-group
		= label :item, :food_type, 'Type'
		= select :item, :food_type, ['Appetizer', 'Entree', 'Side', 'Dessert'], {}, {:class => "form-control"}

		.form-group
		= label :item, :image, 'Image'
		= file_field :item, 'image'

		%br
			= submit_tag 'Create Item', :class => "btn btn-default"
