%h2 Details about #{@item.name}

%ul
	%li
		%b Description:
		= @item.desc
	%li
		%b Price:
		= @item.price
	%li
		%b Category:
		= @item.category
	%li
		%b Type:
		= @item.food_type
	%li
		%b Image:
		%br
		= image_tag @item.image.url

= link_to 'Edit', edit_admin_item_path(@item), :class => "btn btn-default"
= button_to 'Delete', admin_item_path(@item), :method => :delete, :confirm => 'Are you sure?', :class => "btn btn-default"
= link_to 'Back to items', admin_items_path, :class => "btn btn-default"
