%h2 Event Details

%b Event Type: 
="#{@event.event_type}"
%br
%b Head Count: 
="#{@event.head_count}"
%br
%b User Name: 
="#{@event.user.name}"
%br
%b User E-mail: 
="#{@event.user.email}"
%br
-m = @event.menu
%b= "Name: #{m.name}"
%br
%b Budget Per Person: 
="#{m.budget_per_person}"
%br
%b Preferred Time to Call
%br
="Between #{@event.phone_availability_start.strftime("%I:%M%p")} and #{@event.phone_availability_end.strftime("%I:%M%p")}"
%br
%b Customer Comments
%br
="#{@event.comments}"
%br

%div.col-sm-5.col-md-5.col-lg-5

	%table.table.sample_menu
		%tr
			%th Item Name
		-if not m.items.empty?
			- m.items.each do |i|
				%tr
					%td= i.name