<!DOCTYPE html>
<%= render :partial => "items/menu_bar", :locals => { :active => 'Edit'} %>



<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email%>
  </div>

  <div class="field">
    <%= f.label :phone_no %><br />
    <%= f.telephone_field :phone, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autocomplete: "off" %>
  </div>

   <div class="field">
    <%= f.label :key %> (Leave this blank if you are not an admin)<br />
    <%= f.text_field :key, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %> 
  </div><br>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %><br>

<%= render "devise/shared/links" %>


  </div>


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
  </body>
</html>
