= javascript_include_tag 'custom_order_images'

%h2 Customized Order Page

=@items

-unless flash[:message].nil?
	%font= flash[:message]

= form_tag('/events/save_order') do

	-@item_types.each do |item_type|

		%h4= 'Please select ' + @item_counts[item_type].to_s + ' ' + item_type + '(s) from the following:'
		-@item_options[item_type].each do |item_option|

			#ck-button
				%label					
					/ %input{:items => "#{item_option.id}", :type => "checkbox", :value => "1", :id => item_option.name}
					= check_box_tag "items[#{item_option.id}]", 1, false, :id => item_option.name, :type => "checkbox", :class => "hidden"
					%span
						= item_option.name
			%br
			%br
			%p		
	= submit_tag("Save Order", :data => (current_user and current_user.event ? {confirm: 'Are you sure?'} : nil))
