= javascript_include_tag 'menu_structure'

%h3 Tell us about your event:
%br

%row

	%div.col-sm-5.col-md-5.col-lg-5

		= form_tag events_path, :method => :post do
			.col-md-7
				.form-group
					= label :event, :event_type, 'Event Type'
					= select :event, :event_type, Category.names, {}, { :class => 'form-control' }
				.form-group
					= label :event, :head_count, 'Head Count'
					= number_field :event, 'head_count', :class => "form-control", :placeholder => "Enter head count"

				.form-group
					= label :event, :budget_per_person, 'Budget Per Person'
					= select :event, :budget_per_person, MenuStructure.get_budgets, {}, {:class => "form-control"}


				= submit_tag 'Create Event', :class => "btn btn-default"


	%div.col-sm-7.col-md-7.col-md-7
		.col-md-7
			%div#menuDisplay
