!!!
%html
  %head
    %title Saffron
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %link{:href => "http://getbootstrap.com/dist/css/bootstrap.min.css", :rel => "stylesheet"}
    / %link{:href => "starter-template.css", :rel => "stylesheet"}
    %script{:src => "http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"}
    %script{:src => "http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"}
    = stylesheet_link_tag    "application", :media => "all"
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:400,400italic", :rel => "stylesheet", :type => "text/css"}

  %body
    .navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = image_tag 'logo.png', :style => "margin: 5px; height: 35px"
        - if current_user != nil && current_user.admin? && params[:admin_view].nil?
          .collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li{:class => "#{params[:controller] == 'admin/welcome' ? 'active' : ''}"}= link_to 'Admin Home', '/admin/welcome'
              %li{:class => "#{params[:controller] == 'admin/items' ? 'active' : ''}"}= link_to 'Menu', '/admin/items'
              %li{:class => "#{params[:controller] == 'admin/menus' ? 'active' : ''}"}= link_to 'Sample Menu', '/admin/menus'
              %li{:class => "#{params[:controller] == 'admin/events' ? 'active' : ''}"}= link_to 'Events', '/admin/events'
              %li{:class => "#{params[:controller] == 'admin/settings' ? 'active' : ''}"}=link_to 'Settings', admin_settings_path
              %li= link_to 'Logout', destroy_user_session_path, :method => :delete

          / /.nav-collapse
        - else
          .collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li{:class => "#{params[:controller] == 'welcome' ? 'active': ''}"}= link_to 'Home', '/home'
              %li{:class => "#{params[:controller] == 'items' ? 'active': ''}"}= link_to 'Menu', '/menu'
              %li{:class => "#{params[:controller] == 'menus' ? 'active': ''}"}= link_to 'Sample Menu', '/menus/sample_menus'
              -if user_signed_in?
                %li{:class => "#{params[:controller] == 'events' ? 'active': ''}"}= link_to 'My Orders', '/events/view_saved'
                %li{:class => "#{params[:controller] == 'devise/registrations' ? 'active': ''}"}=link_to 'Edit registration', edit_user_registration_path
                %li= link_to 'Logout', destroy_user_session_path, :method => :delete
              -else
                %li{:class => "#{params[:controller] == 'devise/sessions' ? 'active': ''}"}= link_to 'Sign In', new_user_session_path
          / /.nav-collapse
    %br
    %br
    %br
    .container
      / <div class="starter-template">
      = yield
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:src => "http://getbootstrap.com/dist/js/bootstrap.min.js"}
